*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main_body
{
    background-image: linear-gradient( 180deg,  #f7d6a0, #fae3bd);
}

.ava
{
    background-image: linear-gradient( 180deg,  #f6c77b, #f7d6a0 );
}
.anim
{
    /* Just checking jnjibfbi fgbdfdf*/
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10px;
    background: #f7d6a0;
    
}

#clickbutton
{
    background-color: #21baba;
}

h1
{
    text-align: center;
}

.name_anime
{

    
    position: relative;
    font-size: 33px;
    color: #008080;
    -webkit-text-stroke: 0.1vw #336060;

}
.name_anime::before
{
    
    content: attr(data-text);
    position:absolute;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    
    width: 0;
    height: 100%;
    color: #18212c;
    -webkit-text-stroke: 0vw #336060;
    border-right: 2px solid #18212c;
    overflow: hidden;
    animation: animate 10s linear infinite; 
}
#Bebop-video {
    max-width: 200px;
}
#cat-result {
    max-width: 300px;
}
#fact_result {
    max-width: 300px;
}
#cat_btn {
    max-width: 200px;
}
#fact_btn {
    max-width: 200px;
}

@keyframes animate
{
    0%
    {
       width: 0; 
    }
    70%
    {
        width: 21%;
    }
}


h2
{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}

h3 
{
    font-size: 30px;
    font-family: sans-serif;
}

h4
{
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}

p
{
    line-height: 1.2 ;
    font-family: 'Trispace', sans-serif;

}

.ava img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
 
}


.button_counter
{
    margin-left: 10px;
    margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.API 
{
	background-image: linear-gradient( 180deg,  #fae3bd, rgb(112, 42, 42) 92% );
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
    color: rgb(194, 112, 112);
}

.result {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
    font-family: 'Trispace', sans-serif;
    font-size: xx-large;
}



.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

#fact_result
{
    color: rgb(81, 148, 126);
    font-family: 'Trispace', sans-serif;
}

button {
	background-color: darksalmon;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none
}

#bio_Bebop
{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: hidden;
}

#Bio
{
    width: 35%;
    height: 100%;
    line-height: 2;
    float: left;
    border: 1px solid red;
}

#Bebop
{
    width: 65%;
    height: 100%;
    float: left;
    border: 1px solid green;
    overflow:hidden;
    display: flex;
    text-align: center;
}

#Bebop_video
{
    width: 100%;
    float: left;
}
#Bebop_info
{
    width: 50%;
    float: left;
    text-align: center;
}

  /* Here is css for phones*/
  @media only screen and ( max-width: 500px) 
  {
    @keyframes animate
    {
        0%
        {
           width: 0; 
        }
        70%
        {
            width: 88%;
        }
    }
    
    #Bio
    {
        width: 100%;
        height: 100%;
    }
    #bio_Bebop
    {
        width: 100%;
        height: 100%;
        border: 1px solid black;
 
    }
    #Bebop
    {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        display: flex;
    }
    #Bebop_video
    {
        width: 80%;
        height: 100%;
        padding: 0px, 0px, 0px;
 
    }
    #Bebop_info
    {
        text-align: center;
        width: 40%;
    }
    
    #Cmon
    {
        width: 100%;
        height: 100%;
    }

    .API
    {
        width: 390px;
        height: 800px;
    }
    .result
    {
        width: 170px;
        height: 200px;
    }
    button
    {
        width: 150px;
    }
    .result
    {
        font-size: 20px;
    }
  }

  @media only screen and ( max-width: 391px) 
  {
    @keyframes animate
    {
        0%
        {
           width: 0; 
        }
        70%
        {
            width: 88%;
        }
    }
    
    #Bio
    {
        width: 100%;
        height: 100%;
    }
    #bio_Bebop
    {
        width: 100%;
        height: 100%;
        border: 1px solid black;
 
    }
    #Bebop
    {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        display: flex;
    }
    #Bebop_video
    {
        width: 80%;
        height: 100%;
        padding: 0px, 0px, 0px;
 
    }
    #Bebop_info
    {
        text-align: center;
        width: 40%;
    }
    
    #Cmon
    {
        width: 100%;
        height: 100%;
    }

    .API
    {
        width: 390px;
        height: 800px;
    }
    .result
    {
        width: 170px;
        height: 200px;
    }
    button
    {
        width: 150px;
    }
    .result
    {
        font-size: 20px;
    }
  }


  